* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#form-contacto.campo-error {
  border: 2px solid #e53935;
  background-color: #ffebee;
}
.texto-exito {
    color: green;
    font-weight: bold;
}
.texto-error {
    color: red;
    font-weight: bold;
}

/*CATALOGO Y PRODUCTOS*/

.grilla-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 30px 10%;
}
.producto {
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
}

